.DrawerToggle {
    width: 30px;
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: flex-start;
    box-sizing: border-box;
    cursor: pointer;
}

.DrawerToggle div {
    width: 80%;
    height: 3px;
    background-color:  #293042;
}

.DrawerToggle div:nth-child(1){
    width: 80%;
    height: 3px;
    background-color:  #293042;
}

.DrawerToggle div:nth-child(2){
    width: 90%;
    height: 3px;
    background-color:  #293042;
}

.DrawerToggle div:nth-child(3){
    width: 65%;
    height: 3px;
    background-color:  #293042;
}